.scroll-to-top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    display: none;
    transition: all .2s ease-in-out;
}

.scroll-to-top button{
    height: 35px;
    width: 35px;
    border: 0.5px solid white;
    border-radius: 50%;
    box-shadow: 0 2px 8px 0 rgb(153 153 153 / 44%);
    background-color: #fffffffb;
}

.show-scrollTop {
    display: block;
    transition: all .2s ease-in-out;
}

@media (min-width: 800px) {
    .scroll-to-top button{
        height: 50px;
        width: 50px;
    }
    .fad{
        font-size: 20px !important;
    }
}